.Navbar {
    height: 5rem;
    display: flex;
    background-color: rgb(19, 19, 19);
}
.Navbar-brand {
    padding-left: 2rem;
    padding-bottom: .5rem;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    align-self: center;
}
.Navbar-links {
    width: 20%;
    padding-right: 2rem;
}
.Navbar-links a.active {
    color: white;
    text-decoration: underline;
}

.Navbar-link {
    color: rgb(199, 199, 199);
}