{%extends 'base.html'%}

{%block title%}Post Info{%endblock%}

{%block content%}
<h1>{{post.title}}</h1>

<p>{{post.content}}</p>
<p style="font-style: italic;">By {{post.post.first_name}} {{post.post.last_name}} on {{post.created_at}}</p>

{%if tags%}
<div class="tags">
    <p>
        <b>Tags:</b> 
        {% for tag in tags%}
            <button>{{tag.name}}</button>
        {% endfor %}
    </p>
</div>
{%endif%}

<form>
    <button formaction="/users/{{ post.user_id }}" class="cancel">Cancel</button>
    <button formaction="/posts/{{ post.id }}/edit">Edit</button>
    <button formaction="/posts/{{ post.id }}/delete" formmethod="POST" class="delete">Delete</button>
</form>

{%endblock%}