<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <title>{% block title %}Home Page{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-light bg-primary justify-content-between">
        <div class="container">
            <a href="/" class="navbar-brand text-light">Bobo Twitter</a>
            <ul class="nav navbar-nav flex-row float-right">
                {% if session['user_id'] %}
                <li class="nav-item">
                    <form>
                        <button formaction="/logout" formmethod="POST" class="btn btn-link">Logout</button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="/login" class="nav-link pr-3 text-light">Login</a>
                </li>
                <li class="nav-item">
                    <a href="/register" class="nav-link text-light">Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="messages">
                {% for category, msg in messages %}
                    <p class="{{category}}">{{msg}}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% block content %}
    <h1>Bobo Twitter</h1>
    {% endblock %}
</body>
</html>