<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>{% block title %}Mapquest{% endblock %}</title>
</head>
<body>
    <nav id="nav-bar">
        <a href="/">Home</a>
    </nav>
    {% block content %}
    <h1>Setup an address!</h1>
    <a href="/add_address">Add Address</a>
    {% endblock %}
</body>
</html>