{% extends 'base.html' %}

{% block content %}

<h1>Add a Playlist!</h1>

<form method="POST" class="forms">
    {{ form.hidden_tag() }}
    
    {% for field in form
        if field.widget.input_type != 'hidden' %}

        <p>
            {{ field.label }}
        </p>
        <p>
            {{ field(class_='form-control') }}

            {% for error in field.errors %}
                <small class="form-text text-danger">
                {{ error }}
                </small>
            {% endfor %}
        </p>

    {% endfor %}
    <button class="btn btn-success" type="submit">Save Playlist</button>
</form>

{% endblock %}