.App {
  text-align: center;
}

.draw-btn-wrapper {
  height: 10vh;
  justify-content: center;
  margin-bottom: 2em;
  display: grid;
}

button {
  height: 2.5em;
  align-self: center;
  min-width: 125px;
}

body {
  background-color: green;
}