<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>{% block title %}Cupcakes{% endblock %}</title>
</head>
<body>
    {% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="messages">
                {% for category, msg in messages%}
                    <p class="{{category}}">{{msg}}</p>
                {%endfor%}
            </div>
        {% endif %}
    {% endwith %}
    <h1>Cupcake Flavors</h1>
    <ul id="list-cupcakes"></ul>
    <h2>Add a Cupcake!</h2>
    <form id="cupcake_form">
        {{ form.hidden_tag() }}
        
        {% for field in form
            if field.widget.input_type != 'hidden' %}
    
            <p>
                {{ field.label }}
            </p>
            <p>
                {{ field }}
    
                {% for error in field.errors %}
                    <small style="color: rgb(170,0,0);">
                    {{ error }}
                    </small>
                {% endfor %}
            </p>
    
        {% endfor %}
        <button class="add-cupcake">Add!</button>
    </form>

    {% endblock %}
    <script 
    src="https://unpkg.com/axios/dist/axios.min.js"
    crossorigin="anonymous"></script>
    <script
    src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous"></script>
    <script src="/static/app.js"></script>
</body>
</html>